@media only screen and (max-width: 1000px) {
  .form-info {
    padding-left: 30px;
    padding-right: 30px;
    background: #f0f0f0;
    margin-top: 10px;
    margin-right: 20px;
  }
  .carousel img {
    width: 300px;
  }
  .info-text article {
    width: auto;
  }
  .read-more {
    text-align: center;
  }
  .info-text {
    text-align: center;
  }
}
@media only screen and (max-width: 800px) {
  #name,
  #email {
    margin-bottom: 5px;
    border: none;
    background: #d6d6d6;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
  }
  textarea {
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    background: #d6d6d6;
    border: none;
  }
  .footer-nav ul li {
    list-style-type: none;
    width: 200px;
    font-size: 15px;
  }
  .footer-nav {
    display: flex;
  }
  .carousel {
    text-align: center;
    padding-right: 40px;
  }
  .footer-info {
    text-align: left;
  }
  .nav-buttons {
    text-align: center;
  }
  .address {
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .form-info {
    display: none;
  }
  .carousel-container img {
    padding-left: 40px;
    width: auto;
  }
  .info-text {
    text-align: center;
  }
  .footer-nav ul li {
    list-style-type: none;
    width: 200px;
    font-size: 15px;
  }
  .footer-nav {
    display: flex;
  }
  .carousel {
    text-align: center;
    padding-right: 40px;
  }
  .footer-info {
    text-align: left;
  }
  .nav-buttons {
    text-align: center;
  }
  .address {
    text-align: center;
  }
}

@media only screen and (max-width: 440px) {
  .form-info {
    display: none;
  }
  .carousel-container img {
    padding-left: 20px;
    padding-top: 10px;
    width: auto;
  }
  .read-more {
    text-align: center;
  }
  .info-text {
    text-align: center;
    width: 250px;
  }
}
