* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: auto;
  width: 70%;
  text-align: center;
  background-image: url(./vendor/kellybakcground.jpg);
}

.main {
  background-color: #f7f7f7;
  position: relative;
}

/* start of header */
.address img {
  width: 20px;
  padding-right: 5px;
}
.main .header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main .header img {
  margin-top: 20px;
  max-width: 100%;
}

.address {
  flex: 1;
  text-align: right;
}

.address ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
  margin-top: 25px;
}

.address ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.address ul li a:hover {
  color: green;
}

.nav-buttons {
  text-align: end;
}
.nav-buttons button {
  border: none;
  width: auto;
  cursor: pointer;
  padding-right: 5px;
}

.nav-buttons img {
  width: 90px;
}

/* end of header */

/* start of middle-content */
.banner img {
  width: 100%;
}

.last-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.carousel {
  text-align: left;
}
.carousel img {
  width: auto;
}
.info-text {
  text-align: left;
}
.info-text p {
  padding: 10px;
}
#color-green {
  color: #066324;
}

.read-more {
  text-align: right;
  padding-bottom: 50px;
  padding-right: 20px;
}
.read-more a {
  text-decoration: none;
  color: #066324;
}
.read-more a:hover {
  color: green;
}
.form-info {
  padding-left: 30px;
  padding-right: 30px;
  background: #f0f0f0;
  margin-top: 3px;
  margin-right: 20px;
  margin-bottom: 50px;
}
.form-info .form-logo p {
  color: #066324;
  font-weight: 900;
}
.form-info button {
}
.form-info .form-logo {
  display: flex;
  font-size: 20px;
}
.form-logo img {
  padding-bottom: 5px;
}
.form-info .form-logo p {
  margin-top: 10px;
}
.info-button {
  text-align: right;
  margin-top: 0;
}

.info-button button {
  border: none;
}
#name,
#email {
  margin-bottom: 10px;
  border: none;
  background: #d6d6d6;
  padding-top: 9px;
  padding-left: 2px;
  padding-bottom: 9px;
  padding-right: 50px;
}
textarea {
  margin-top: 10px;
  padding-top: 9px;
  padding-left: 4px;
  padding-bottom: 50px;
  padding-right: 64px;
  background: #d6d6d6;
  border: none;
}
hr {
  opacity: 0.4;
  margin-left: 10px;
  margin-right: 10px;
}
.info-text article {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 20px;
  padding: 10px;
}
#triangle {
  color: #066324;
}

/* End of middle-content */

/* start of footer */

.footer-nav ul li {
  color: #000;
  flex: 1;
  float: left;
  text-align: left;
  margin-right: 30px;
  font-size: 15px;
}
.footer-info {
  text-align: end;
  font-size: 15px;
  opacity: 0.8;
}
.footer-nav #home {
  list-style: none;
}
.footer-copy {
  text-align: left !important;
  font-size: 15px;
  opacity: 0.8;
}
footer {
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-nav {
  font-weight: bold;
}
.footer-nav #home {
  color: #066324;
}

/* end of footer */
